<nav class="mb-4" aria-label="Breadcrumb">
    <ol class="flex items-center space-x-2 text-sm text-gray-600">
        <ng-container *ngFor="let item of items; let last = last">
            <li class="flex items-center">
                <ng-container *ngIf="!last">
                    <a [routerLink]="item.link" class="hover:text-blue-600 hover:underline transition">{{ item.label
                        }}</a>
                    <i-lucide [img]="ChevronRight" class="w-4 h-4 mx-2 text-gray-400"></i-lucide>
                </ng-container>
                <ng-container *ngIf="last">
                    <span class="font-semibold text-gray-800">{{ item.label }}</span>
                </ng-container>
            </li>
        </ng-container>
    </ol>
</nav>