<div *ngIf="visible" class="fixed top-6 left-1/2 transform -translate-x-1/2 w-[90%] sm:w-auto max-w-md z-[9999]"
    [ngClass]="{
        'opacity-100 translate-y-0': visible,
        'opacity-0 -translate-y-4 pointer-events-none': !visible
      }">
    <div class="flex items-center gap-4 px-5 py-4 border-l-4 rounded-lg shadow-xl transition-all duration-500"
        [ngClass]="{
          'bg-red-50 text-red-800 border-red-600': type === 'error',
          'bg-green-50 text-green-800 border-green-600': type === 'success'
        }">
        <div class="shrink-0">
            <i-lucide *ngIf="type === 'error'" [img]="AlertCircle"
                class="fa-solid fa-circle-exclamation text-2xl text-red-600"></i-lucide>
            <i-lucide *ngIf="type === 'success'" [img]="CheckCircle"
                class="fa-solid fa-circle-check text-2xl text-green-600"></i-lucide>
        </div>
        <div class="flex-1 text-sm font-medium">
            {{ message }}
        </div>
        <button (click)="close()" class="text-xl text-gray-400 hover:text-gray-600 transition">
            <i-lucide [img]="X" class="h-6 w-6" [ngClass]="{
          'text-red-600': type === 'error',
          'text-green-600': type === 'success'
        }"></i-lucide>
        </button>
    </div>
</div>